{% extends 'base.html'%}

{% block title%}
Validate Hurairah
{% endblock%}
   
{% load crispy_forms_tags %}

{% block content%}
<h1>Add record</h1>

<form class="col-7 mx-auto" action="" method="post">
    {% csrf_token %} <!-- Add CSRF token here -->
    {{ form |crispy}}
    <!-- <div>
        <label for="">Enter name</label>
        <input type="text" name="name" class="form-control">
    </div>
    <div>
        <label for="">Enter Rollno</label>
        <input type="text" name="roll" class="form-control">
    </div>
    <div>
        <label for="">Enter Address</label>
        <input type="text" name="add" class="form-control">
    </div>
    <div>
        <label for="">Enter Mail</label>
        <input type="text" name="mail" class="form-control">
    </div> -->
    <button type="submit" class="btn btn-info mx-auto d-block">Submit</button>
    <a href="{% url 'password_reset'%}">Forget password</a>
</form>
{% endblock %}
